{% extends 'front/base.html.twig' %}
{% block title %} Liste des couleurs {% endblock %}
{% block stylesheets %}
{{ parent() }}
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col offset-2 col-lg-8">
            <h1>Liste des couleurs</h1>
            <a class="btn btn-success" href="{{ path('color_new') }}">Ajouter une couleur</a> <a class="btn btn-primary" href="{{ path('backoffice') }}">Retour</a>
            <table class="table table-responsive-lg table-bordered marg-t-2">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for color in colors %}
                    <tr>
                        <td>{{ color.name }}</td>
                        <td>


                                    <a class="btn btn-warning" href="{{ path('color_edit', { 'id': color.id }) }}">Modifier</a>

                                    <a class="btn btn-danger" href="{{ path('color_delete', { 'id': color.id }) }}">Supprimer</a>


                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
