<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Préférences automobiles{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/app/bootstrap-4/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/app/main.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>

<div class="container-fluid">
    {% block body %}
        <div class="row">

            <div class="col col-sm-12 col-md-12 col-lg-12 text-center">
                <h1>Système de collecte d'informations client sur leurs préférences automobile</h1>
                <a class="btn btn-primary" href="{{ path('preference') }}">Soumettre ma préférence</a>
                <a class="btn btn-primary" href="{{ path('backoffice') }}">Accéder au back-office</a>
            </div>

        </div>
    {% endblock %}
</div>
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="{{ asset('bundles/app/bootstrap-4/js/bootstrap.min.js') }}"></script>
{% endblock %}
</body>
</html>
