{% extends 'front/base.html.twig' %}
{% block title %}
    Liste des prospects
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col offset-2 col-lg-8">
            <h1>Liste des prospects</h1>
            <a class="btn btn-primary" href="{{ path('backoffice') }}">Retour</a>
            <table class="table table-bordered table-responsive-lg marg-t-2">
                <thead>
                <tr>

                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Date de naissance</th>
                    <th>Permis ?</th>
                    <th>Voiture</th>
                    <th>Couleur</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.firstname }}</td>
                        <td>{{ user.lastname }}</td>
                        <td>{% if user.dateOfBirth %}{{ user.dateOfBirth|date('d-m-Y') }}{% endif %}</td>
                        <td>{% if user.hasDriverLicense %}Oui{% else %}Non{% endif %}</td>
                        <td>{% if user.car %} {{ user.car.name }} {% else %}Non{% endif %}</td>
                        <td>{% if user.color %}{{ user.color.name }}{% else %}-{% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
